{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                }
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs"
    ],
    "env": {
        "testing": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}